.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*html {
  box-sizing: border-box;
}*/
/**, *:before, *:after {
  box-sizing: inherit;
}*/

/* Space out content a bit */
body {
  padding: 2px;
  background-color: black;
}


.container {
  /*max-width: 1000px;*/
  /*max-height: 900px;*/
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.col-1, .col-2, .col-3 {
  padding: 0px;
  margin: 1px;
}

/** {
  border: 1px solid red;
}*/

/*.icon {
  font-size: 215px;
  display: block;
}*/


/*.play-area {
  border: 3px solid white;
}
.s0-0 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.s0-1 {
  border-bottom: 3px solid black;
}

.s0-2 {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.s1-0 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.s1-1 {
  border-bottom: 3px solid black;
}

.s1-2 {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.s2-0 {
  border-right: 3px solid black;
}

.s2-2 {
  border-left: 3px solid black;
}*/

/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns*/
/*.col-centered {*/
    /*display:inline-block;*/
    /*float:none;*/
    /* reset the text-align */
    /*text-align:left;*/
    /* inline-block space fix */
    /*margin-right:-2px;*/
    /*margin-bottom: -2px;*/
/*}*/
