.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 5px;
  background-color: steelblue;
}
.container {
  max-width: 1000px;
}
.col-1, .col-2, .col-3 {
  padding: 0;
}
.icon {
  font-size: 215px;
  display: block;
}
.play-area {
  padding: 3px;
}
/* http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns*/
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
    margin-bottom: -5px;
}